!!! 1.1
%html{html_attrs}
  %head
    %title CrossGate
    = meta_content_type_tag
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'admin', 'scaffold'
  %body
    #container
      #main
        #header
          .title
            %h1 CrossGate
        #content
          - if flash[:notice]
            %p.notice= flash[:notice]
          - if flash[:error]
            %p.notice.error= flash[:error]
          = yield
        #side
          %h3 用户管理
          %ul
            %li= link_to '用户列表', admin_users_path
            %li= link_to '添加用户', new_admin_user_path
            %li= link_to '搜索用户'
          %h3 异常管理
          %ul
            %li= link_to '异常列表'
        .clearer
      #footer &copy; Copyright 2008 CrossGate