.item
  %h1 添加用户
  = error_messages_for :user
  - form_for([:admin, @user]) do |f|
    %table.form
      %tr
        %th 电子邮件
        %td= f.text_field :email, :class => 'text'
      %tr
        %th 密码
        %td= f.password_field :password, :class => 'text'
      %tr
        %th 密码确认
        %td= f.password_field :password_confirmation, :class => 'text'
      %tr
        %th 昵称
        %td= f.text_field :screen_name, :class => 'text'
      %tr
        %th 性别
        %td
          = f.radio_button :gender, User::GenderMale
          男
          = f.radio_button :gender, User::GenderFemale
          女
      %tr
        %td.action{:colspan => 2}= f.submit '提交', :class => 'button'